 <!-- start main wrapper -->
 <div class="main-wrapper">
     {{ page_builder }}
         {{ if type == "home_page_sections" }}
             {{ sections }}
                 {{ if type == "hero_section" }}
                     <!-- start hero section -->
                     <section class="2xl:py-24 lg:py-16 pb-0 pt-16 relative">
                         <div
                             class=" 2xl:pt-48 xl:pt-44 lg:pt-20 1xl:pb-24 min-h-screen flex flex-col lg:justify-center">
                             <div class="container lg:order-1 order-2">
                                 <div class="lg:w-2/3 z-1 relative lg:py-0  pt-10">
                                     {{ headings }}
                                         {{ if type == "first_heading" }}
                                             <h1
                                                 class="2xl:text-[100px] xl:text-6xl lg:text-4xl text-3xl text-primary-900 uppercase leading-tight">
                                                 {{ heading }}
                                             </h1>
                                             <h1
                                                 class="2xl:text-[100px] xl:text-6xl lg:block hidden lg:text-4xl text-3xl text-white uppercase leading-tight absolute top-0 z-1 2xl:[clip-path:inset(0%_0%_0%_54%)] 1xl:[clip-path:inset(0%_0%_0%_51%)] xl:[clip-path:inset(0%_0%_0%_57%)] [clip-path:inset(0%_0%_0%_50%)]">
                                                 {{ heading }}
                                             </h1>
                                         {{ /if }}
                                         {{ if type == "second_heading" }}
                                             <h2 class="2xl:text-[40px] lg:text-3xl text-1xl  text-primary-900">
                                                 {{ second_heading }}
                                             </h2>
                                         {{ /if }}
                                     {{ /headings }}
                                     {{ paragraphs }}
                                         <p class="lg:w-[45%] text-primary-900 xl:text-lg text-md font-normal mb-2">
                                             {{ paragraph }}
                                         </p>
                                     {{ /paragraphs }}
                                     <a href="{{ button_url }}" class="all-btn mt-4">{{ button_label }}</a>
                                 </div>
                             </div>
                             <div class="flex  lg:order-2 order-1">
                                 <div
                                     class="1xl:w-[63%] xl:w-[60%] lg:w-[64%] w-full lg:absolute right-0 top-0  lg:min-h-screen relative h-full">
                                     {{ background_image }}
                                         <img src="{{ url }}" class="w-full  min-h-[inherit] object-cover h-full" />
                                     {{ /background_image }}
                                     {{ button_image }}
                                         <button
                                             class="xl:w-20 xl:h-20 sm:w-14 sm:h-14 w-12 h-12 flex items-center justify-center bg-white hover:bg-yellow-900 rounded-full absolute md:right-8 right-4 md:bottom-12 bottom-4 z-2">
                                             <img src="{{ url }}" class="z-1 xl:w-8 w-6" />
                                             <span
                                                 class="animate-ping absolute inline-flex md:h-14 md:w-14 w-10 h-10 rounded-full bg-white opacity-75 -z-1"></span>
                                         </button>
                                     {{ /button_image }}
                                 </div>
                             </div>

                         </div>
                     </section>
                 {{ /if }}
                 <!-- end hero section -->
                 {{ if type == "work" }}
                     <!-- start work slider section -->
                     <section class="2xl:py-24 xl:py-16 pt-16 relative">
                         <div class="container">
                             <h2 class="text-black mb-4 uppercase">{{ title }}</h2>
                             <span
                                 class="2xl:text-[250px] 1xl:text-[200px] xl:text-[150px] lg:text-[100px] sm:text-[80px] text-[50px] text-primary-800 leading-normal font-classy-vogue opacity-50 block absolute xl:top-1 top-8 1xl:right-44 sm:right-20 right-3">{{ title }}</span>
                             <div class="swiper work-slider">
                                 <div class="swiper-wrapper">
                                     {{ work_collection }}
                                         <div class="swiper-slide">
                                             <div class="relative group">
                                                 <div class="absolute left-0 top-0 w-full h-full lg:p-6 p-4">
                                                     <div
                                                         class="p-4 bg-[#F1E8E0B2] transition-all flex items-center justify-center w-full h-full scale-0 group-hover:scale-100">
                                                         <h3 class="text-black text-center uppercase">{{ title }}</h3>
                                                     </div>
                                                 </div>
                                                 {{ image }}
                                                     <img src="{{ url }}" class="w-full h-full" />
                                                 {{ /image }}
                                             </div>
                                         </div>
                                     {{ /work_collection }}
                                 </div>
                                 <div class="swiper-pagination relative 1xl:!w-4/5 lg:!w-3/5"></div>
                             </div>
                             <div class="flex lg:justify-end lg:-mt-6 mt-6 relative z-1">
                                 <a href="{{if button_url}}{{ button_url }}{{else}}javascript:;{{/if}}"
                                     class="all-btn">{{ button_label }}</a>
                             </div>
                         </div>
                     </section>
                     <!-- end work slider section -->
                 {{ /if }}
                 {{ if type == "press" }}
                     <!-- start press grid section -->
                     <section class="2xl:py-24 xl:py-16 pt-16 pb-6 relative">
                         <div class="container">
                             <div class="flex items-stretch gap-4 xl:flex-nowrap flex-wrap">
                                 <div class="xl:w-1/3 w-full">
                                     <h2 class="text-black lg:mb-12 mb-6 uppercase"> {{ title }}</h2>
                                     <a href="{{if button_url}}{{ button_url }}{{else}}javascript:;{{/if}}"
                                         class="all-btn xl:px-14 px-8">{{ button_label }}</a>
                                     <span
                                         class="2xl:text-[400px] 2xl:leading-[200px] 1xl:text-[300px] xl:leading-[120px] xl:text-[200px] lg:text-[100px] leading-[90px] sm:text-[80px] text-[50px] text-primary-800 font-classy-vogue opacity-50 block absolute xl:bottom-[44%] xl:top-auto top-12 2xl:-left-80 1xl:-left-72 xl:-left-32 xl:right-auto sm:right-20 right-3 xl:-rotate-90">{{ title }}</span>
                                 </div>
                                 <div
                                     class="xl:w-2/3 w-full grid sm:grid-cols-2 grid-cols-1 gap-x-10 1xl:gap-x-14 2xl:gap-x-20">
                                     {{ press_collection }}
                                         {{ if index == 0 || index % 2 == 0 }}
                                             <div
                                                 class="w-full flex flex-col 1xl:gap-6 gap-4 items-start 1xl:mb-20 mb-12 break-inside-avoid ">
                                                 <a href="{{ url }}" class="block w-full">
                                                     {{ featured_image }}
                                                         <img src="{{ url }}" class="w-full" />
                                                     {{ /featured_image }}
                                                 </a>
                                                 <div
                                                     class="bg-white min-w-[160px] inline-flex items-center justify-center px-6 sm:py-4 py-3 border border-gray-100">
                                                     {{ image_logo }}
                                                         <img src="{{ url }}" class="1xl:h-9 h-8 w-auto" />
                                                     {{ /image_logo }}
                                                 </div>
                                                 <h3
                                                     class="2xl:text-3xl lg:text-2xl text-xl text-black  uppercase mb-0">
                                                     {{ title }}
                                                 </h3>
                                                 <a href="{{ url }}"
                                                     class="all-btn 1xl:text-lg sm:text-md text-sm 1xl:py-3 py-2 2xl:px-14 md:px-8 px-6 inline-flex items-center justify-center gap-2.5">{{ button_label }}
                                                     <svg width="16" height="14" viewBox="0 0 16 14" fill="none"
                                                         class="sm:w-4 w-3" xmlns="http://www.w3.org/2000/svg">
                                                         <path
                                                             d="M9.00501 13.4816C8.90938 13.3859 8.85567 13.2561 8.85567 13.1208C8.85567 12.9854 8.90938 12.8557 9.00501 12.7599L14.2605 7.50359L0.514558 7.50359C0.379125 7.50359 0.249239 7.44979 0.153473 7.35402C0.0577065 7.25825 0.00390595 7.12837 0.00390596 6.99293C0.00390597 6.8575 0.0577066 6.72761 0.153473 6.63185C0.249239 6.53608 0.379125 6.48228 0.514559 6.48228L14.2605 6.48228L9.00501 1.22596C8.91481 1.12916 8.8657 1.00113 8.86804 0.868831C8.87037 0.736538 8.92396 0.610314 9.01752 0.516754C9.11108 0.423193 9.23731 0.369601 9.3696 0.367267C9.50189 0.364933 9.62993 0.414039 9.72673 0.504241L15.8546 6.63207C15.9502 6.72782 16.0039 6.85761 16.0039 6.99294C16.0039 7.12826 15.9502 7.25805 15.8546 7.3538L9.72673 13.4816C9.63098 13.5773 9.50119 13.631 9.36587 13.631C9.23055 13.631 9.10076 13.5773 9.00501 13.4816Z"
                                                             fill="currentcolor" />
                                                     </svg>
                                                 </a>
                                             </div>
                                         {{ else }}
                                             <div
                                                 class="w-full flex flex-col 1xl:gap-6 gap-4 items-start 1xl:mb-20 mb-12 break-inside-avoid ">
                                                 <div
                                                     class="bg-white min-w-[160px] inline-flex items-center justify-center px-6 sm:py-4 py-3 border border-gray-100">
                                                     {{ image_logo }}
                                                         <img src="{{ url }}" class="1xl:h-9 h-8 w-auto" />
                                                     {{ /image_logo }}
                                                 </div>
                                                 <a href="{{ url }}" class="block w-full">
                                                     {{ featured_image }}
                                                         <img src="{{ url }}" class="w-full" />
                                                     {{ /featured_image }}
                                                 </a>
                                                 <h3
                                                     class="2xl:text-3xl lg:text-2xl text-xl text-black  uppercase mb-0">
                                                     {{ title }}
                                                 </h3>
                                                 <a href="{{ url }}"
                                                     class="all-btn 1xl:text-lg sm:text-md text-sm 1xl:py-3 py-2 2xl:px-14 md:px-8 px-6 inline-flex items-center justify-center gap-2.5">{{ button_label }}
                                                     <svg width="16" height="14" viewBox="0 0 16 14" fill="none"
                                                         class="sm:w-4 w-3" xmlns="http://www.w3.org/2000/svg">
                                                         <path
                                                             d="M9.00501 13.4816C8.90938 13.3859 8.85567 13.2561 8.85567 13.1208C8.85567 12.9854 8.90938 12.8557 9.00501 12.7599L14.2605 7.50359L0.514558 7.50359C0.379125 7.50359 0.249239 7.44979 0.153473 7.35402C0.0577065 7.25825 0.00390595 7.12837 0.00390596 6.99293C0.00390597 6.8575 0.0577066 6.72761 0.153473 6.63185C0.249239 6.53608 0.379125 6.48228 0.514559 6.48228L14.2605 6.48228L9.00501 1.22596C8.91481 1.12916 8.8657 1.00113 8.86804 0.868831C8.87037 0.736538 8.92396 0.610314 9.01752 0.516754C9.11108 0.423193 9.23731 0.369601 9.3696 0.367267C9.50189 0.364933 9.62993 0.414039 9.72673 0.504241L15.8546 6.63207C15.9502 6.72782 16.0039 6.85761 16.0039 6.99294C16.0039 7.12826 15.9502 7.25805 15.8546 7.3538L9.72673 13.4816C9.63098 13.5773 9.50119 13.631 9.36587 13.631C9.23055 13.631 9.10076 13.5773 9.00501 13.4816Z"
                                                             fill="currentcolor" />
                                                     </svg>
                                                 </a>
                                             </div>
                                         {{ /if }}
                                     {{ /press_collection }}
                                 </div>
                             </div>
                         </div>
                     </section>
                     <!-- end press grid section -->
                 {{ /if }}
                 {{ if type == "books" }}
                     <!-- start Books section -->
                     <section class="2xl:py-24 xl:py-16 py-10 relative bg-primary-800">
                         <div class="container">
                             <h2 class="text-black lg:mb-8 mb-2 uppercase text-center"> {{ title }}</h2>
                             <div
                                 class="grid 1xl:grid-cols-4 md:grid-cols-3 grid-cols-2 max-[420px]:grid-cols-1 1xl:gap-12 gap-8 xl:my-10 my-4">
                                 {{ book_collection }}
                                     <div
                                         class="relative group sm:drop-shadow-[15px_15px_4px_rgba(0,0,0,0.30)] drop-shadow-[10px_10px_3px_rgba(0,0,0,0.30)]">
                                         <div class="absolute left-0 top-0 w-full h-full lg:p-6 p-4">
                                             <a href="javascript:;"
                                                 class="p-4 bg-[#F1E8E0B2] transition-all flex items-center justify-center w-full h-full scale-0 group-hover:scale-100">
                                                 <h3 class="text-black text-center sm:text-[20px] text-lg uppercase">
                                                     {{ title }}
                                                 </h3>
                                             </a>
                                         </div>
                                         {{ image }}
                                             <img src="{{ url }}" class="w-full h-full object-cover" />
                                         {{ /image }}
                                     </div>
                                 {{ /book_collection }}
                             </div>
                             <div class="flex items-center justify-center mt-10">
                                 <a href="{{ button_url }}" class="all-btn xl:px-14 px-8">{{ button_label }}</a>
                             </div>
                         </div>
                     </section>
                     <!-- end Books section -->
                 {{ /if }}
             {{ /sections }}
         {{ /if }}
         {{ if type == "instagram_section" }}
             <!-- start instagram section -->
             <section class="2xl:py-24 xl:py-16 py-10 relative">
                 <div class="container">
                     <h2 class="text-black lg:mb-12 mb-6 uppercase"> {{ heading }}

                         <a href="{{ url }}" target="_blank" class="hover:underline">{{ user_name }}</a>

                     </h2>
                     <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-2 gap-4">
                         {{ grid_images }}
                             <div class="relative group">
                                 <a href="{{ image_url }}" target="_blank"
                                     class="absolute left-0 top-0 right-0 bottom-0 lg:p-6 m-4 p-4 bg-[#F1E8E0B2] transition-all flex items-center justify-center scale-0 group-hover:scale-100">
                                     {{ instagram_img }}
                                         <img src="{{ url }}" />
                                     {{ /instagram_img }}
                                 </a>
                                 {{ image }}
                                     <img src="{{ url }}" class="w-full h-full object-cover" />
                                 {{ /image }}
                             </div>
                         {{ /grid_images }}
                     </div>
                 </div>
             </section>
             <!-- end instagram section -->
         {{ /if }}
     {{ /page_builder }}
 </div>
