<!-- start main wrapper -->
<div class="main-wrapper">

    <!-- start hero section -->
    {{ partial:page_builder/hero_section }}
    <!-- end hero section -->

    <!-- start gears section -->
    <section class="2xl:py-24 1xl:py-20 lg:py-16 py-14">
        <div class="container">
            <div class=" w-full xl:columns-3 sm:columns-2  columns-1 gap-10 1xl:gap-14 2xl:gap-20">
                {{ partial:collections/press }}
            </div>
        </div>
    </section>
    <!-- end gears section -->

</div>
