{{ collection:gear_categories sort="date:asc" }}
    <div class="tabs-content current" id="{{ slug }}">
        <div class="lg:my-10 my-6 border-t border-gray-100 lg:pt-10 py-6">
            <h2 class="uppercase 1xl:text-4xl lg:text-3xl text-2xl mb-6">
                {{ title }}
            </h2>
            <div class="grid xl:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8">
                {{ collection:gear_products category:is="{id}" }}
                    <div class="bg-primary-800 group">
                        <a href="{{ if url }}{{ url }}{{ else }}javascript:;{{ /if }}"
                            class="w-full overflow-hidden block">
                            {{ image }}
                                <img src="{{ url }}" alt="{{ title }}" class="transition-all group-hover:scale-105" />
                            {{ /image }}
                        </a>
                        <div class="lg:p-7 p-5">
                            <h3 class="uppercase 1xl:text-3xl lg:text-2xl text-1xl">
                                {{ title }}
                            </h3>
                            <p class="font-normal text-gray-400 leading-normal">
                                {{ description }}
                            </p>
                            <a href="{{ if buy_link }}{{ buy_link }}{{ else }}javascript:;{{ /if }}"
                                class="all-btn xl:px-10 px-8 py-2 inline-flex items-center justify-center gap-2.5 bg-white">
                                buy now
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none">
                                    <path
                                        d="M9.00501 13.4816C8.90938 13.3859 8.85567 13.2561 8.85567 13.1208C8.85567 12.9854 8.90938 12.8557 9.00501 12.7599L14.2605 7.50359L0.514558 7.50359"
                                        fill="currentcolor" />
                                </svg>
                            </a>
                        </div>
                    </div>
                {{ /collection:gear_products }}
            </div>
        </div>
    </div>
{{ /collection:gear_categories }}
