<!-- Custom Libraries script js start -->
<!-- jquery min js file -->

<script src="{{ theme:asset src="assets/js/jquery.min.js" }}"></script>
<!-- Swiper bundle js file -->
<script src="{{ theme:asset src="assets/js/swiper-bundle.min.js" }}"></script>
<!-- magnific popup js -->
<script src="{{ theme:asset src="assets/js/jquery.magnific-popup.js" }}"></script>
<!-- custom script js -->
<script src="{{ theme:asset src="assets/js/custom.js" }}"></script>
<script src="{{ theme:asset src="assets/js/read_more_text.js" }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.22.1/jquery.validate.min.js"></script>
<!-- Use this minifiy js for project speeded loading -->
<!-- <script src="assets/js/custom.min.js"></script> -->

